/* --------------------------------------------------------- */
/* VARIABLES */
/* --------------------------------------------------------- */
:root {
	--color-primary: #2ecc71;
	--color-primary-dark: #28b062;
	--color-primary-light: #47d583;
	--color-secondary: #2d3436;
	--color-secondary-dark: #1e2223;
	--color-secondary-light: #3c4649;
	--color-text: #f4f4f4;
}
$max-width: 116rem;
$horizontal-gutter: 2rem;
$horizontal-gutter-sm: 1rem;
$navbar-height: 6.7rem;

/* commonly used points (SCSS map) */
$breakpoints: (
	//   'phone': 320px,
	// 'phone-lg': 500px,
	//   'tablet': 768px,
	//   'desktop': 1024px
	//   'desktop-md': 1200px
	'phone': 20em,
	'phone-lg': 31.25em,
	'tablet': 48em,
	'desktop': 64em,
	'desktop-md': 75em
) !default;

/* --------------------------------------------------------- */
/* HELPERS */
/* --------------------------------------------------------- */
.mb-2 {
	margin-bottom: 2rem;
}

.container {
	max-width: 66.5rem; // 1rem(8px) * 66.5rem = 532px
	margin: 0 auto;
	padding: 0 $horizontal-gutter;
	width: 100%;

	@media only screen and (min-width: map-get($breakpoints, 'desktop')) and (max-width: map-get($map: $breakpoints, $key: 'desktop-md')) {
		max-width: 72rem;
	}
	@media only screen and (min-width: map-get($breakpoints, 'desktop-md')) {
		max-width: 90rem;
	}
}

/* --------------------------------------------------------- */
/* KEYFRAMES */
/* --------------------------------------------------------- */
@keyframes slideInFromLeft {
	0% {
		transform: translateX(-150%);
	}
	100% {
		transform: translateX(0);
	}
}

@keyframes bounceInLeft {
	0% {
		opacity: 0;
		transform: translateX(-500%);
	}
	60% {
		opacity: 1;
		transform: translateX(30px);
	}
	80% {
		transform: translateX(-10px);
	}
	100% {
		transform: translateX(0);
	}
}

@keyframes bounceInRight {
	0% {
		opacity: 0;
		transform: translateX(500%);
	}
	60% {
		opacity: 1;
		transform: translateX(-30px);
	}
	80% {
		transform: translateX(10px);
	}
	100% {
		transform: translateX(0);
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

/* --------------------------------------------------------- */
/* BASE STYLES */
/* --------------------------------------------------------- */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	/* To make 1rem = 8px */
	font-size: 50%;
	box-sizing: border-box;
	@media only screen and (min-width: map-get($breakpoints, 'tablet')) {
		/* 1rem = 10px */
		font-size: 62.5%;
	}
}

body {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	line-height: 1.2;
	background-color: var(--color-secondary);
	color: var(--color-text);
	overflow-x: hidden;
}

a,
a:link,
a:visited {
	text-decoration: none;
	color: inherit;
}

::selection {
	color: var(--color-primary);
}
