/* --------------------------------------------------------- */
/* LAYOUT */
/* --------------------------------------------------------- */
.container {
	max-width: var(--max-width);
	margin: 0 auto;
	padding: 0 var(--horizontal-gutter);
	width: 100%;
}

/* --------------------------------------------------------- */
/* CONTENT */
/* --------------------------------------------------------- */

.content {
	padding-top: 10rem;
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	&__top-navbar {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1.5rem 2rem;
	}

	&__logo,
	&__logo:link,
	&__logo:visited {
		font-weight: 700;
		font-size: 1.6rem;
		color: var(--color-primary);
		transition: color 0.3s;

		&:hover,
		&:active {
			color: var(--color-primary-dark);
		}
	}

	&__img-box {
		margin-top: auto;
	}

	&__img {
		height: 16rem;
		width: 16rem;
		border-radius: 50%;
		box-shadow: 0rem 0 1rem rgba(0, 0, 0, 0.2);
		transition: transform 0.3s;
		transform: scale(0.9);
		&:hover {
			border: 2px solid var(--1color-primary);
			box-shadow: 0rem 0px 1rem var(--color-primary);
			transform: scale(1) rotate(360deg);
		}
	}


	&__about-box {
		margin: 2rem 0;
		// padding: 0 1rem;
	}

	&__skill-box {
		// position: absolute;
		// bottom: 0;
		margin-top: auto;
		width: 100%;
		padding: 1rem;
	}



}
