.content {
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	&__top-navbar {
		height: $navbar-height;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1.5rem 2rem;
	}

	/* Mock height element */
	&__navbar-filler {
		height: $navbar-height;
	}

	&__logo,
	&__logo:link,
	&__logo:visited {
		font-weight: 700;
		font-size: 1.6rem;
		color: var(--color-primary);
		transition: color 0.3s;

		&:hover,
		&:active {
			color: var(--color-primary-dark);
		}
	}

	/* Vertically centered */
	&__main-box {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin: 2rem 0 3rem;
		/* 48.75em * 16px = 780px */
		@media only screen and (min-width: map-get($breakpoints, 'phone')) and (min-height: 48.75em) {
			margin: -3rem 0 3rem;
		}
	}

	&__img-box {
	}

	&__img {
		height: 16rem;
		width: 16rem;
		border-radius: 50%;
		box-shadow: 0rem 0 1rem rgba(0, 0, 0, 0.2);
		transition: transform 0.3s;
		transform: scale(0.9);
		&:hover {
			border: 2px solid var(--1color-primary);
			box-shadow: 0rem 0px 1rem var(--color-primary);
			transform: scale(1) rotate(360deg);
		}
	}

	&__intro-box {
	}

	&__cta-box {
		white-space: nowrap;
	}

	&__about {
	}

	&__skills {
		width: 100%;
		padding: 1rem;
		position: relative;
		border-top: 1px solid var(--color-primary);
		animation: 0.5s ease-in-out 0s 1 fadeIn;

		/* Horizontal line with centered text */
		&::after {
			content: 'Skills';
			display: inline;
			text-transform: uppercase;
			color: var(--color-primary);
			font-size: 1.6rem;
			font-weight: 400;
			position: absolute;
			top: -13px;
			left: 50%;
			transform: translateX(-50%);
			background-color: var(--color-secondary);
			padding: 0.5rem 1rem;
		}
	}

	&__about {
		animation: 1s cubic-bezier(0.76, 0, 0.24, 1) 0s 1 bounceInLeft;
	}
	
	&__cta-box,
	&__intro-box,
	&__img-box {
		animation: 1s cubic-bezier(0.76, 0, 0.24, 1) 0s 1 bounceInRight;
	}
}
