/*
	-------------------------------------------------------------------------------
	Note: You will not become the author of this code by removing this comment! 😉
	
	Coded by: @0xAliRaza
	Website: https://www.0xAli.com
	Twitter: twitter.com/0xAliRaza
	Github: github.com/0xAliRaza

	Live preview: https://0xAli.com
	Repo url: https://github.com/0xAliRaza/0xaliraza.github.io
	-------------------------------------------------------------------------------
*/

@import 'base';
@import 'components';
@import 'home';
